/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 3px dashed #228bec;
}

html {
    font: 62.5% / 1.15 sans-serif;
}

h1,
h2 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    /* 1 */
    overflow: visible;
}

input[type="text"] {
    border-radius: 0;
}

/*******************/
body {
    text-align: center;
    background: #eee;
    overflow: hidden;
}

#app th, #app td {
    font-size: 20px;
}

#app td {
    font-size: 15px;
}

#app button {
    font-size: 14px;
}

#app .pagination-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

#app .pagination-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    transition: all 200ms;
    cursor: pointer;
}
#app .pagination-buttons button:disabled {
    cursor: not-allowed;
}
#app .pagination-buttons .current button:disabled {
    cursor: unset;
}
#app .pagination-buttons .current button{
    font-weight: 600;
    background: rgba(255, 255, 255, 0.65);
    padding: 10px;
}
#app .pagination-buttons button:hover:enabled {
    background: #333;
    color: #eeeeee;
    border-color: #333;
}
#app .pagination-buttons button:focus {
    border-color: #333;
    box-shadow:  0 0 6px 2px rgba(33 33 33 /40%);
    outline: none;
}

#app .pagination-buttons .tdot {
    font-size: 18px;
}
.modal{
    z-index: 10;
    background: #ffffff;
    transition: all 500ms;
    border-radius: 10px;
    position: fixed;
    width: 800px;
    height: 500px;
    box-shadow: 0 0 10000px 10000px rgba(30 30 30 /40%);
    top: calc(50% - 250px);
    left: calc(50% - 400px);
}












